# gastask.conf.tmpl
# Template configuration file for the TOMS system.
# 
# Sections:
#   *genetic         - Genetic algorithm parameters (max_generations, n_populations, cutoff, penalty)
#   *gentask         - Task generation parameters (ranges for wcet, memory, utilization, etc.)
#   *gennetwork      - Network generation parameters (uplink/downlink ranges, number of networks)
#   *gennetcommander - Net commander generation parameters (intercept ranges, number of commanders)
#   *cpufreq         - CPU frequency settings (scale, power_active, power_idle)
#   *mem             - Memory type settings (type, max_capacity, scale, power)
#   *cloud           - Cloud resource settings (type, computation_power, power, capacity, offloading_limit)
#   *offloadingratio - Offloading ratio options
#   *TEE             - Trusted Execution Environment options
#   *network         - Network settings (uplink/downlink rates)
#   *netcommander    - Net commander settings (intercept values)
#   *task            - Task list (wcet, period, memreq, mem_active_ratio, task_size, input_size, output_size, offloading_bool)
#
# Each section is preceded by a comment describing the order and meaning of its fields.


# max_generations n_populations cutoff penalty
*genetic
100000 100 1.1 1.5

# wcet_min wcet_max mem_total util_cpu util_target n_tasks task_size_min task_size_max input_size_min input_size_max output_size_min output_size_max
*gentask
100 1000 2000 0.8 0.9 100 4000 6000 800 4000 800 2000

# uplink_min uplink_max downlink_min downlink_max n_networks
*gennetwork
100 100 120 120 100

# intercept_out_min intercept_out_max intercept_in_min intercept_in_max n_net_commanders
*gennetcommander
1 4 2 5 100

# wcet_sacle power_active power_idle
*cpufreq
1    100    1
0.5  25   0.25
0.25 6.25 0.0625
0.125 1.5625 0.015625

# type max_capacity wcet_scale power_active power_idle
*mem
dram  1000 1    0.01   0.009
nvram 1000 0.8  0.01   0.0009

# type computation_power power_active power_idle max_capacity offloading_limit
*cloud
mec  2   400   100   100000   1.0

# offloading_ratio 
*offloadingratio
0
1

# TEE 
*TEE
0
1

# uplink_data_rate downlink_data_rate
*network
80 800
80 800
80 800

# intercept_out intercept_in
*netcommander
2 3
4 3
1 4

# wcet period memreq mem_active_ratio task_size input_size output_size offloading_bool
*task
556 80718 12 0.111700 4349 2747 1292 1
614 76162 14 0.108000 4469 3032 1312 1
220 32524 9 0.136300 5388 1000 1529 0


